<div class="row mt-5">
  <div class="col-md-12 m-auto">
    <div class="card card-body text-center">
      <h1>Product Orders</h1>
      <table class="table">
        <tr>
          <th scope="col">
            ID
          </th>
          <th scope="col">
            Full name
          </th>
          <th scope="col">
            Email
          </th>
          <th scope="col">
            Phone
          </th>
          <th scope="col">
            Product
          </th>
          <th scope="col">
            Subscription
          </th>
          <th scope="col">
            Term
          </th>
        </tr>
        <% for (var i = 0; i < data.length; i++) { %>
        <tr>
          <td scope="col"><%= i+1 %></td>
          <td><%= data[i].userName %></td>
          <td><%= data[i].userEmail %></td>
          <td><%= data[i].userPhone %></td>
          <td><%= data[i].productType.name %></td>
          <td><%= data[i].subscriptionType.name %></td>
          <td><%= data[i].subscriptionTerm %></td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript"></script>
